<p id="notice"><%= notice %></p>

<p>
  <strong>Baslik:</strong>
  <%= @blog.baslik %>
</p>

<p>
  <strong>Aciklama:</strong>
  <%= @blog.aciklama %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
